<div class="container mat-typography">
    <h1>Dialogue Box Demo</h1>
    <div class="delete-box">
        <p>Click Button to delete something.</p>
        <p>Delete: {{ confirm_Delete }}</p>
        <button mat-raised-button (click)="onDelete()">Delete</button>
        <p *ngIf='confirm_Delete' id="success">Item has been deleted!</p>
        <p *ngIf='!confirm_Delete' id="error">Nothing has been deleted.</p>
    </div>

    <div class="picture-box">
        <p>Click the picture to open pop-up.</p>
        <img id="avatar" src="../../assets/images/14_57_01_2_file.jpg">
    </div>
</div>
