.container
    padding: 2%
    background-image: linear-gradient(#00C9FF, #B6FCD5)
    color: white
    height: 100vmin
    overflow-y: auto

.dialog-feedback
    padding-top: 16px

#success
    color: green
    font-weight: bold

#error
    color: red
    font-weight: bold

.picture-box
    padding-top: 24px

#avatar
    width: 25%
    &:hover
       box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3)

.collapse-card 
    margin-top: 24px
    width: 50%